.App-Header {
    position: fixed;
    display: flex;
    left: 0;
    right: 0;
    top: 0;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    text-align: start;
    background: #d1d9d8;
    color: white;
    
  }
  .nav-item{
    text-decoration:none;
    margin-left: 20px;
  }
  